.paperHeader {
  display: block;
  position: relative;
  top: 0vh;
  height: 10vh;
  left: 0vw;
  width: 71vw;
  background-color: red;
  margin: 0;
  border-radius: 20px;
}

.topicLeft {
  position: relative;
  text-align: center;
  margin: 0;
}

.topicRight {
  position: relative;
  text-align: right;
  margin-right: 10px;
}
